main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  padding: 20px;
  border: 2px solid #000;
  border-radius: 5px;
}

.form-title {
  margin-bottom: 10px;
  font-family: Haettenschweiler, sans-serif;
  text-align: center;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  width: 300px;
  padding: 5px;
  outline: 0;
  border: 1px solid #000;
  border-radius: 4px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.form-input:focus {
  transition: 0.3s;
  box-shadow: 0 0 2px 2px #cac2c2;
}

.notice-error {
  max-width: 300px;
  height: 18px;
  margin: 2px 0 0 5px;
  overflow-wrap: break-word;
  color: red;
}

.password-wrapper {
  position: relative;
}

.password-input {
  padding-right: 40px;
}

.visibility-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 10px;
  background-color: inherit;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.visibility-btn-off {
  background-image: url("./icons/visibilityOn.png");
}

.visibility-btn-on {
  background-image: url("./icons/visibilityOff.png");
}

.submit-btn {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgb(86, 178, 128);
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background-color: rgb(86, 178, 128);
  color: #fff;
  cursor: pointer;
}

.submit-btn:hover {
  transition: 0.3s;
  background-color: #fff;
  color: rgb(86, 178, 128);
}

@media (max-width: 350px) {
  .form-input {
    width: 260px;
  }
}
